@import '_variables';

html, body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    width: 100%;
    height: 100%;
    color: $text;
    background: $bg;
}


*,
:before,
:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px 100px;
}

.btn {
    display: inline-block;
    color: #333;
    background: $primary;
    border: none;
    outline: none;
    padding: 15px 20px;
    font-size: 2em;
    font-family: $font-family;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background: lighten($primary, 5%);
        transform: scale(1.1);
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
    }
}
