@import "variables";


h1, h2 {
    font-size: 4em;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.9);
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 30px;
}

h2 {
    font-weight: lighter;
    margin-top: 40px;
    margin-bottom: 0 !important;
}

.name-container {
    display: inline-block;
    background-image: linear-gradient(135deg, #ddd, #bbb);
    padding: 20px 10px;
}

.name {
    padding: 10px 20px;
    color: white;
    background: #1ed85f;
    mix-blend-mode: multiply;
}

.logout {
    margin-bottom: 20px;
    float: right;
}

.songs {
    margin-top: 10px;

    li:nth-child(1) {
        font-size: 3em;
    }

    li:nth-child(2) {
        font-size: 2.4em;
    }

    li:nth-child(3) {
        font-size: 2em;
    }

    li {
        font-size: 1.7em;
        color: #999;

        a {

            color: $text;

            &:nth-child(1) {
                color: lighten($primary, 5%);
            }

            &:nth-child(2) {
                color: $text;
            }
        }
    }
}

form {
    label {
        font-size: 2.3em;
    }

    .select-wrapper {
        width: 200px;

        select {
            width: 100%;
            padding: 8px 16px;
            color: $text;
            background: transparent;
            border-radius: 5px;
            border: 2px solid #eee;
            font-size: 0.7em;

            option {
                background: $bg;
            }


            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            outline: none;

            &::-ms-expand {
                display: none;
            }
        }
    }

}
