@import "_variables";

body {
    background-color: $bg;
}

.content {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);

    .title {
        font-size: 2em;
        margin-bottom: 20px;

        span {
            color: white;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: linear-gradient(45deg, #1ed85f, #5ce08a);
        }

        span:before {
            position: absolute;
            content: "";
        }
        span:before {
            z-index: -2;
            background-image: inherit;
        }
    }

    .button {
        display: flex;
        justify-content: center;
    }
}
