html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
  width: 100%;
  height: 100%;
  color: #fdfdfd;
  background: #2a2b2d;
}

*,
:before,
:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px 100px;
}

.btn {
  display: inline-block;
  color: #333;
  background: #82B0F2;
  border: none;
  outline: none;
  padding: 15px 20px;
  font-size: 2em;
  font-family: "Lexend Deca", sans-serif;
  border-radius: 5px;
  transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background: #99bff4;
  transform: scale(1.1);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
}

