body {
  background-color: #2a2b2d;
}

.content {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
}

.content .title {
  font-size: 2em;
  margin-bottom: 20px;
}

.content .title span {
  color: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #1ed85f, #5ce08a);
}

.content .title span:before {
  position: absolute;
  content: "";
}

.content .title span:before {
  z-index: -2;
  background-image: inherit;
}

.content .button {
  display: flex;
  justify-content: center;
}

